%h2
  = t('.title', user: current_user.email)

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!

  .field
    = f.label :email
    %br
    = f.email_field :email, autofocus: true

  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      = t '.waiting_confirmation'
      = resource.unconfirmed_email

  .field
    = f.label :password
    %i
      = t '.leave_password_blank'
    %br
    = f.password_field :password, autocomplete: "off"

  .field
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation, autocomplete: "off"

  .field
    = f.label :current_password
    %i
      = t '.confirm_password'
    %br
    = f.password_field :current_password, autocomplete: "off"

  .actions
    = f.submit

%h3
  = t '.cancel_account'

%p
  = t '.unhappy'
  = button_to t('.cancel_account'), registration_path(resource_name), data: { confirm: t('.confirm') }, method: :delete

= link_to t('.back'), :back
