.container
  .row
    .col-sm-3.col-md-2.sidebar
      %ul.nav.nav-sidebar
        %li.active
          Categories
    - if @books.any?
      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
        - @books.each do |book|
          = link_to book_path(book.id) do
            .book.col-md-4
              = image_tag book.cover.thumb.url, class: 'img-thumbnail'
              %br
              = book.title
              %br
              = book.authors
      .col-md-12
        = will_paginate @books
    - else
      There no book yet :(
