%h1
  = @book.title

%div
  = image_tag @book.cover.normal.url
%li
  Authors
  = @book.authors
%li
  = @book.isbn
%li
  = @book.publisher
%li
  = @book.published_date
%li
  = @book.language
%li
  = @book.category.name
%li
  = @book.user.email

- if @book.user_id == current_user.id
  = link_to 'Delete', book_path(@book.id), method: :delete, data: { confirm: 'Are you sure?' }