!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bookexchanger
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if current_user
      Logged as
      = current_user.email
      = link_to 'Books', books_path
      = link_to 'Log out', logout_path
    - else
      = link_to 'Log in', login_path
    %p.notice
      = notice
    %p.alert
      = alert
    = yield
